:root {
  --branding-color: #af0069;
  --secondary-color: #99ddcc;
  --font-color: #22313f;
  --heading-font-family: "Six Caps", sans-serif;
  --default-font-family: "Poppins", sans-serif;
  --third-font-family: "Baloo 2", sans-serif;
  --default-box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.2);
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  font-family: var(--default-font-family);
}

.navbar {
  background: transparent;
  width: 100%;
  position: fixed;
}

.nav-link {
  color: transparent;
  padding: 10px 50px;
  position: relative;
}

.scrolling-active .navbar {
  background-color: var(--font-color);
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.5);
}

.scrolling-active .nav-link {
  color: #f8f8f8;
}

.nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-color);
  transition: transform 0.25s ease-out;
}

.scrolling-active .nav-link:hover {
  color: var(--secondary-color);
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.hero {
  display: flex;
  justify-content: space-evenly;
}

.hero img {
  height: 60%;
  width: 55%;

}

.hero-text {
  padding: 150px 25px;
}

.hero-text h1 {
  font-size: 70px;
  color: var(--font-color);
}

.hero-text h2 {
  font-size: 28px;
}

.hero-text #main-button {
  border: 3px solid var(--font-color);
  box-shadow: var(--default-box-shadow);
  background: var(--font-color);
  color: #fff;
  font-weight: 300;
  padding: 20px 25px;
  font-size: 20px;
  margin-top: 35px;
  margin-left: 40px;
  transition: all 250ms ease-in-out;
}

.hero-text #main-button:hover {
  opacity: 0.8;
}

h2,
h4 {
  color: var(--font-color);
  font-family: var(--heading-font-family);
  text-align: center;
}

h1 {
  font-size: 50px;
  padding: 35px;
  color: var(--branding-color);
  font-family: var(--heading-font-family);
  text-align: center;
}


.main-card {
  box-shadow: var(--default-box-shadow);
  border-radius: 12px;
  width: 85%;
  display: block;
  margin: 0 auto;
}

.card-body {
  padding: 30px;
  font-family: var(--third-font-family);
}

#right {
  text-align: end;
}

.aboutInfo {
  background-color: #22313f;
  display: flex;
  justify-content: space-evenly;
}

.aboutInfo h5 {
  line-height: 2;
  font-size: 18px;
}

.aboutInfo img {
  height: 50%;
  width: 30%;
}

.additionalInfo {
  color: #f8f8f8;
  padding: 100px;
}

.profile-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 55px;
  margin: 35px;
}

.btn-links {
  text-decoration: none;
  border: 1px solid var(--branding-color);
  border-radius: 15px;
  text-align: center;
  padding: 12px;
  background: var(--branding-color);
  color: white;
  transition: all 200ms ease-in-out;
}

.btn-links:hover {
  opacity: 0.8;
  color: white;
}


.all-skills {
  background: #fcfcfc;
  border: 2px solid var(--branding-color);
  border-radius: 12px;
  box-shadow: var(--default-box-shadow);
  margin-top: 100px;
  padding: 35px;
}

section .row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}


.all-skills p {
  margin-left: 35px;
  font-size: 18px;
}

.all-skills img {
  width: 55%;
  height: auto;
  margin-left: 10px;
}

.skills-box-A {
  display: flex;
  justify-content: space-evenly;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.skills-box-B {
  display: flex;
  justify-content: space-evenly;
  margin-left: 60px;
  margin-top: 10px;
}

#frontend-certificate {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 35%;
}

.btn-certificate {
  color: var(--branding-color);
  transition: all 200ms ease-in-out;
  display: block;
}

.btn-certificate:hover {
  color: var(--font-color);
  cursor: pointer;
}

.projects-container {
  padding: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;


}

.work-img {
  width: 100%;

}

.projects-card {
  padding: 30px;
  background-color: var(--font-color);
  color: #f8f8f8;
  box-shadow: var(--default-box-shadow);
  border-radius: 10px;
}


footer {
  margin: 60px 30%;
  padding-bottom: 20px;
  border-top: 1px solid var(--branding-color);


}

footer .email-link {
  text-decoration: none;
  color: var(--font-color);
  font-size: 20px;
  text-align: center;
  padding-top: 25px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: #f8f8f8;
  padding: 6px 12px;
  border-radius: 50%;
  font-size: 28px;
  transition: all 100ms ease-in-out;

}

footer .social-links a:hover {

  color: #f8f8f8;
  background: var(--branding-color);
}

@media (max-width: 960px) {
  .hero {
    background-color: var(--branding-color);
    padding: 20px 0;
    opacity: 0.8;

  }

  .hero-text h1 {
    color: #f8f8f8;
    font-size: 40px;
  }

  .hero-text h2 {
    color: #f8f8f8;
    font-size: 20px;
  }

  .hero-text #main-button {
    padding: 10px;
    display: block;
  }

  .nav-link {
    padding: 10px 10px;
  }

  .card-body {
    text-align: center;
  }

  #right {
    text-align: center;
  }

  nav a {
    font-size: 11px;
  }

  .aboutInfo {
    text-align: center;
  }

  .profile-links {
    display: none;
  }

  h1 {
    font-size: 40px;
  }


  section {
    padding: 55px 25px;
  }

  .mobile-skills img {
    width: 55%;
    height: auto;
    margin-left: 15px;
  }

  .mobile-skills p {
    text-align: center;
    font-size: 15px;
  }

  .projects-container {
    padding: 15px;
    grid-template-columns: repeat(1, 1fr);

  }

  .projects-card {

    width: auto;
    padding: 15px;
    text-align: center;
    font-size: 11px;
  }

  footer .social-links a {
    font-size: 20px;
  }
}