:root {
  --branding-color: #99ddcc;
  --secondary-color: #f9f7fe;
  --third-color: #70acb1;
  --font-color: #22313f;
  --heading-font-family: "Six Caps", sans-serif;
  --default-font-family: "Poppins", sans-serif;
  --default-box-shadow: 3px 3px 3px lightgrey;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--default-font-family);
  background: #f8f8f8;
}
.navbar {
  background: transparent;
  width: 100%;
  position: fixed;
}

.navbar img {
  display: none;
}
.nav-link {
  color: transparent;
  padding: 10px 50px;
  position: relative;
}

.scrolling-active .navbar {
  background-color: #f8f8f8;
  opacity: 0.9;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}
.scrolling-active .nav-link {
  color: var(--font-color);
}
.scrolling-active .navbar img {
  display: block;
  width: 10%;
  height: auto;
  float: right;
  padding-left: 100px;
}
.nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--third-color);
  transition: transform 0.25s ease-out;
}

.scrolling-active .nav-link:hover {
  color: var(--third-color);
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}
.hero {
  background-image: url("/images/intropic.jpg");
  position: relative;
  height: 100%;
  overflow: hidden;
  background-size: 50% 100%;
  background-position: left center;
  background-repeat: no-repeat;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
}
.hero-text h1 {
  font-size: 70px;
  display: inline-block;
}

.hero-text h2 {
  display: block;
  font-size: 28px;
}
.hero-text #main-button {
  display: inline-block;
  margin-top: 40px;
  margin-right: 100px;
  border: 3px solid var(--font-color);
  background: transparent;
  color: var(--font-color);
  font-weight: 300;
  padding: 20px 25px;
  font-size: 20px;
  transition: all 250ms ease-in-out;
}

.hero-text #main-button:hover {
  background: var(--font-color);
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-color);
  font-family: var(--heading-font-family);
}

.sub-title {
  font-size: 50px;
}

.content .sub-title {
  font-size: 50px;
}

h2 {
  font-size: 38px;
}
h3 {
  font-size: 28px;
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--heading-font-family);
}

.content p {
  font-size: 19.5px;
}
.content {
  margin: 30px;
}

.btn-branding {
  background: #99ddcc;
  border-radius: 5px;
  color: var(--font-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 25px;
  transition: all 250ms ease-in-out;
}

.btn-branding:hover {
  color: var(--font-color);
  background: #c1c0b9;
}

.btn-branding-outline {
  color: #70acb1;
  font-size: 33px;
  transition: all 0.5s ease-in-out;
}

.btn-branding-outline:hover {
  transform: scale(1.2) perspective(0.5px);
  color: var(--branding-color);
}

.btn-certificate {
  color: var(--font-color);
  text-decoration: underline;
  transition: all 200ms ease-in-out;
}

.btn-certificate:hover {
  color: var(--branding-color);
  cursor: pointer;
}

.project-description {
  padding: 120px 60px;
}

#profile-pic {
  height: 60%;
  width: auto;
}

.content-contact {
  background: var(--secondary-color);
}

section {
  background: var(--secondary-color);
  margin-top: 60px;
  padding: 35px;
}
section .row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

section h2,
h3 {
  text-align: center;
}

.all-skills {
  margin-top: 0;
}
.all-skills p {
  margin-left: 15px;
}
.all-skills img {
  width: 30%;
  height: auto;
  margin-left: 10px;
}
.skills-box-A {
  display: flex;
  justify-content: space-evenly;
  margin-left: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.skills-box-B {
  display: flex;
  justify-content: space-evenly;
  margin-right: 50px;
  margin-top: 10px;
}

.certificates img {
  width: 90%;
  height: auto;
  margin-left: 10px;
}

.certificates a {
  margin-left: 100px;
}

.languages img {
  width: 30%;
  height: auto;
  margin-left: 60px;
}

.languages p {
  margin-top: 20px;
  margin-left: 80px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--font-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box h3 {
  color: #fff;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: var(--font-color);
  font-size: 20px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 22px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

.content-contact {
  text-align: center;
}

@media (max-width: 960px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  h4 {
    font-size: 26px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  nav a {
    font-size: 13px;
  }
  .certificates .row {
    display: flex;
    flex-direction: column;
  }
  footer .contact-box {
    padding: 30px;
  }
}
