:root {
  --branding-color: #af0069;
  --secondary-color: #99ddcc;
  --font-color: #22313f;
  --heading-font-family: "Six Caps", sans-serif;
  --default-font-family: "Poppins", sans-serif;
  --default-box-shadow: 3px 3px 3px lightgrey;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--default-font-family);
  background: #f8f8f8;
}
.navbar {
  background: transparent;
  width: 100%;
  position: fixed;
}

.nav-link {
  color: transparent;
  padding: 10px 50px;
  position: relative;
}

.scrolling-active .navbar {
  background-color: var(--font-color);
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.5);
}
.scrolling-active .nav-link {
  color: #f8f8f8;
}

.nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-color);
  transition: transform 0.25s ease-out;
}

.scrolling-active .nav-link:hover {
  color: var(--secondary-color);
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}
.hero {
  background-image: url("/images/intropic.jpg");
  position: relative;
  height: 100%;
  overflow: hidden;
  background-size: 50% 100%;
  background-position: left;
  background-repeat: no-repeat;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
}
.hero-text h1 {
  font-size: 70px;
  display: inline-block;
}

.hero-text h2 {
  display: block;
  font-size: 28px;
}
.hero-text #main-button {
  display: inline-block;
  margin-top: 40px;
  margin-right: 100px;
  border: 3px solid var(--font-color);
  background: transparent;
  color: var(--font-color);
  font-weight: 300;
  padding: 20px 25px;
  font-size: 20px;
  transition: all 250ms ease-in-out;
}

.hero-text #main-button:hover {
  background: var(--font-color);
  color: #fff;
}

h1,
h2,
h3,
h4 {
  color: var(--font-color);
  font-family: var(--heading-font-family);
  text-align: center;
  margin-top: 30px;
}
#projects {
  font-size: 50px;
  padding: 10px;
  color: var(--branding-color);
}
h2 {
  font-size: 38px;
}
p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 5px;
  color: var(--font-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 25px;
  transition: all 250ms ease-in-out;
}

.btn-branding:hover {
  color: var(--font-color);
  background: #c1c0b9;
}

.btn-branding-outline {
  color: var(--branding-color);
  font-size: 33px;
  transition: all 0.5s ease-in-out;
}

.btn-branding-outline:hover {
  transform: scale(1.2) perspective(0.5px);
  color: var(--branding-color);
}

.btn-certificate {
  color: var(--branding-color);
  transition: all 200ms ease-in-out;
}

.btn-certificate:hover {
  color: var(--font-color);
  cursor: pointer;
}

.project-description {
  padding: 120px 60px;
}

.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  margin: 0 auto;
}
.intro img {
  width: 90%;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
#hi {
  font-size: 30px;
}
.intro p {
  padding-top: 50px;
  font-size: 15px;
  line-height: 2;
}
.profile-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 85px;
  margin: 35px;
}

.profile-links a {
  text-decoration: none;
  border: 1px solid var(--branding-color);
  border-radius: 15px;
  text-align: center;
  padding: 12px;
  background: var(--branding-color);
  color: white;
  transition: all 200ms ease-in-out;
}

.profile-links a:hover {
  opacity: 0.8;
}
section {
  background: #fcfcfc;
  border: 2px solid var(--branding-color);
  border-radius: 12px;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.2);
  margin-top: 100px;
  padding: 35px;
}

section .row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

section h2,
h4 {
  text-align: center;
}

.all-skills {
  margin-top: 100px;
}
.all-skills p {
  margin-left: 15px;
}
.all-skills img {
  width: 30%;
  height: auto;
  margin-left: 10px;
}
.skills-box-A {
  display: flex;
  justify-content: space-evenly;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.skills-box-B {
  display: flex;
  justify-content: space-evenly;
  margin-left: 60px;
  margin-top: 10px;
}

.languages p {
  margin-top: 20px;
  margin-left: 80px;
}

.all-projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 35px;
  margin-top: 50px;
}

.all-projects p {
  font-size: 15px;
}

.all-projects a {
  text-decoration: none;
  color: #af0069;
}
.work-img {
  border-radius: 8px;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.2);
}
footer {
  margin: 60px 0;
  padding-bottom: 15px;
}

footer .contact-box {
  background: var(--font-color);
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.5);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box h3 {
  color: #f8f8f8;
}

footer .email-link {
  text-decoration: none;
  color: var(--font-color);
  font-size: 20px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--secondary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: #f8f8f8;
  background: var(--branding-color);
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 22px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--branding-color);
  background: #f8f8f8;
}

@media (max-width: 960px) {
  .hero {
    padding: 20px 0;
    background-size: 80% 100%;
  }

  .hero-text h1 {
    padding-right: 50px;
    color: var(--branding-color);
    font-size: 40px;
  }

  .hero-text h2 {
    display: none;
  }
  .hero-text #main-button {
    background: var(--font-color);
    color: #f8f8f8;
    margin-left: 90px;
  }
  .nav-link {
    padding: 10px 10px;
  }
  #projects {
    font-size: 38px;
    line-height: 2;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  nav a {
    font-size: 13px;
  }

  h2 {
    font-size: 20pt;
    text-align: center;
  }

  .intro {
    grid-template-columns: 1fr;
  }
  .intro img {
    width: 100%;
  }
  .intro p {
    text-align: center;
  }
  .profile-links {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  section h4 {
    font-size: 13pt;
    text-align: center;
  }

  .mobile-skills img {
    width: 55%;
    height: auto;
    margin-left: 15px;
  }
  .mobile-skills p {
    text-align: center;
  }
  .mobile-certificates span {
    color: var(--font-color);
  }

  .languages .row {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }
  .all-projects {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .work-img {
    display: none;
  }
  footer .social-links a {
    font-size: 15px;
  }
}
